# 🔐 SSH Keys
*.pem
*.key
*.pub
*key

# 🔐 Terraform State Files
*.tfstate
*.tfstate.*

# 🔐 Crash logs
crash.log

# 🔐 Sensitive variable files
*.tfvars
*.tfvars.json

# 🔐 Local Terraform directories
terraform/.terraform/
terraform/.terraform.lock.hcl

# 🔐 Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# 🔐 Backup files
*.backup
*.backup.json

# 🔐 IDE / Editor junk
.vscode/
.idea/
*.swp
.DS_Store
